//website color
$primary-color:#272727;
$sub-color:#F8F8F8;
$border-color: black;
$hover-color:blue;
$tb-hover-color: #dededeec;
$tb-color:#dededede;
$tb-status-color: #F8F8F8;

//font color
$font-color: black;
$menu-color: white;
$menu-hover-color: #8a8a8ade;

//button color
$edit-color: blue;
$alert-color:red;
$add-color:green;